<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <th:block th:replace="/common/commonhead"></th:block>
</head>
<body>
    <header th:replace="/common/commonHeader :: commonHeader"></header>
    <h1>메인 페이지 입니다.</h1>


    <br>
    <h2>Page List</h2>
    <ul class="page_list_wrap">
        <li>
            <a th:href="@{/user}">User</a>
        </li>
        <li>
            <a th:href="@{/manager}">Manager</a>
        </li>
        <li>
            <a th:href="@{/admin}">Admin</a>
        </li>
        <li>
            <a th:href="@{/test/login}">User Session</a>
        </li>
        <li>
            <a th:href="@{/test/oauth/login}">OAuth User Session</a>
        </li>
    </ul>
</body>
</html>