<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <th:block th:replace="/common/commonhead"></th:block>
</head>
<body>
    <header th:replace="/common/commonHeader :: commonHeader"></header>
    <h1>메인 페이지 입니다.</h1>


    <br>
    <h2>Page List</h2>
    <ul class="page_list_wrap">
        <li>
            <a th:href="@{/user}">User</a>
        </li>
        <li>
            <a th:href="@{/manager}">Manager</a>
        </li>
        <li>
            <a th:href="@{/admin}">Admin</a>
        </li>
        <li>
            <a th:href="@{/test/login}">User Session</a>
        </li>
        <li>
            <a th:href="@{/test/oauth/login}">OAuth User Session</a>
        </li>
    </ul>

    <!--어떤 권한이건 상관없이 인증이 되었다면 이 글이 보임-->
    <div sec:authorize="isAuthenticated()">
        Only Authenticated user can see this Text
    </div>



</body>
</html>